<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="container">

    <div class="row"><br>

      <div class="jumbotron">
        <h1>Sorry! <br>
        <small>This page is not available anymore</small></h1>

      </div>
    </div>

  </div>

  </div>
</div>