

  <div class="row">


    <!-- settings links -->

    <div class="col-md-5" style=" padding-top: 40px; ">

      <div class="panel panel-blue">

        <div class="panel-heading">Privacy settings</div>

        <div class="list-group" style="overflow-y: auto;height: 380px;">
          <% @google.each do |google| %>
              <%= link_to google.name, {controller: 'google_setting', action: 'show', id: google.id, remote: true}, class: "list-group-item better" %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- setting description -->

    <div class="col-md-7" style="padding-top: 40px;">

      <div id="desc">
        <!-- here goes the description partial -->
      </div>
    </div>

  </div>



