


<div class="row"><h1 class="page-header" style="color: #777777;padding-bottom: -4rem;"> <i class="fa fa-google-plus-square" aria-hidden="true" style="padding-right: 3rem;"></i>Privacy Dashboard </h1>
 </div>
  <div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><i class="fa fa-cogs"></i><span>Privacy Settings &nbsp&nbsp</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><i class="fa fa-user-secret"></i><span>Privacy policy &nbsp&nbsp&nbsp&nbsp</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><i class="fa fa-globe"></i><span>Public information</span></label>



    <section id="content1" class="tab-content ">

      <h3 style="color: #888888;">Here you can find the available privacy settings. Click on a setting to see the details:</h3>

      <%= render partial: 'google_setting/settings' %>
    </section>

    <section id="content2" class="tab-content ">

      <h3 style="color: #888888;">The Privacy Policy is that document that everyone agrees to without reading when creating an account. <br> Here are the main points: </h3>

      <%= render partial: 'google_setting/policy' %>
    </section>

    <section id="content3" class="tab-content ">

      <h3 style="color: #888888;">How private is your profile? </h3>

      <%= render partial: 'google_setting/public' %>
    </section>




  </div>