<div class="row" style="padding-left: 10px; padding-top: 40px; padding-right: 10px;">
  <div class="col-lg-4  col-md-10 col-md-offset-1 col-lg-offset-0 ">
    <div class="panel panel-blue">
      <div class="panel-heading">What info do they collect?</div>

      <div class="panel-body">

      <div class="list-group">


          <% @fbc.each do |fbc| %>


                <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%= fbc.detail %>"> <h5><%= fbc.description %> </h5> </a>
             <!-- here goes the description partial --><% end %>

      </div>
    </div>
  </div>
  </div>

  <!-- settings story -->

  <div class="col-lg-4  col-md-10 col-md-offset-1 col-lg-offset-0">
    <div class="panel panel-blue">
      <div class="panel-heading">What can they do with it?</div>

      <div class="panel-body">

        <div class="list-group">


          <% @fbu.each do |fbu| %>


              <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=fbu.detail%>"> <h5><%= fbu.description %> </h5> </a>
              <!-- here goes the description partial --><% end %>

        </div>
    </div>
  </div>
  </div>
  <!-- settings default value -->

  <div class="col-lg-4 col-lg-offset-0 col-md-10 col-md-offset-1 ">
    <div class="panel panel-blue">
      <div class="panel-heading">Who can they share it with?</div>

      <div class="panel-body">

        <div class="list-group">


          <% @fbsell.each do |fbsell| %>


              <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=fbsell.detail%>"> <h5><%= fbsell.description %> </h5> </a>
              <!-- here goes the description partial --><% end %>

        </div>
    </div>
  </div>

  </div>

</div>


<script>
    $(function () {
        $('[data-toggle="popover"]').popover({html : true, container: 'body'})
    })
</script>
