<!-- setting description -->
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 nopadding" >


<div id="wrap" >
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">What is it for?</h3>
    </div>
    <div class="panel-body dark-text"><%= @fbs.description %>
    </div>
  </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What could happen?</h3>
      </div>
      <div class="panel-body dark-text"><%= simple_format(@fbs.story) %>
      </div>
      </div>

      <div class="panel panel-default panel-horizontal">
        <div class="panel-heading">
          <h3 class="panel-title">Current value</h3>
        </div>
        <div class="panel-body dark-text"><%= @fbs.current %>
        </div>
        </div>

        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading">
            <h3 class="panel-title">Recommended value</h3>
          </div>
          <div class="panel-body dark-text"><%= @fbs.recommended %>
          </div>
          </div>

          <div class="panel panel-default panel-horizontal">
            <div class="panel-heading">
              <h3 class="panel-title">Default value</h3>
            </div>
            <div class="panel-body dark-text"><%= @fbs.default %>
            </div>
            </div>

</div>
  </div>
</div>




