/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "variable";
@import "bootstrap-custom";
@import "responsive-sidebar";
@import "box";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "hide";
@import "bootstrap-select";
@import "jquery-ui";
@import "scrollbar";
@import "sidebar2";
@import "panel";
@import "post-list";
@import "rating";
@import "horizontal-panel";
@import "one-page-wonder";
@import "wizard";

.jumbotron{
  border-radius:0px!important;
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://static.pexels.com/photos/24324/pexels-photo.jpg);
  position: relative;
  height: 100%;


}

.jumbotron .btn{
  border-radius:0px!important;
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  padding:10px 40px;
}

.about-font{
  font-family: 'Varela Round' sans-serif;
  text-align: center;
  text-transform: uppercase;

}

.about-text{
  font-family: 'Varela Round' sans-serif;
  font-size: 20px;
}

.spaced {
  padding-top:1rem;
}

.dark-text {
  color: #3d3e40;
}

.panel-desc {
  font-size: 13px;
  text-align: justify;
}

.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;
}

.modal-xl{
  width: 70%;
  margin: auto;
}

.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}

.btn-xs{
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


.force-to-bottom {
  position:absolute;
  bottom: 1%;
  left: 6%;
  width: 100%;
  color: #CCCCCC;
}

.bottom-buttons {
  position:absolute;
  bottom: 5%;
  left: 10%;
  width: 100%;
  color: #CCCCCC;
  font-size: 18px;
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.image-small{
  width:100px;
  height: 67px;
}

.image-big{
  width: 600px;
  height:400px;
}

.img-rounded {
  width: 100px;
  height: 67px;
}

.list-inline>li {
  //margin-right: -100px;
  padding-bottom: 10px;
}

.list-inline {
  //margin-left: -40px;

}
.col-centered{
  float: none;
  margin: 0 auto;
}

.thumbnail {
  height: 50rem;
}

.thumbnail.show
{
  height: 25rem;
}

.thumbnail.show.small {
  height: 12rem;
}


.alert-danger{
  background-color: #d43f3a;
  color: #ffffff;
}



*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}



h1 {
  color: #ccc;
  text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

.nice{
  font-weight: 700;
  font-size: 20px;
  color: #424445;
  text-align: center;

}

.greyer {
  background: rgba(33, 119, 168, 0.29);
  border-bottom: solid 3px;
  border-bottom-color: deepskyblue;

}

.better{
  font-weight: 500;
  font-size: 14px;
  color: #f1edf7;
  text-align: justify;
}

.betterd{
  font-weight: 500;
  font-size: 16px;
  color: #25313a;
  text-align: justify;
  padding: 10px;

}



#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/


.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

#draggablePanelList .panel-heading {
  cursor: move;
}
#draggablePanelList2 .panel-heading {
  cursor: move;
}
.popover{
 width: 50% !important; /* Max Width of the popover (depending on the container!) */
  -webkit-box-shadow: 0 40px 40px rgba(0, 0, 0, .2);
  box-shadow: 0 40px 40px rgba(0, 0, 0, .2);
  color: whitesmoke;
  background-color: #444444;
}

.popover.right .arrow:after {
  border-right-color: #444444;
}

.popover.left .arrow:after {
  border-left-color: #444444;
}

/* .container-outside */
.container-outside {
  display: block;
  position: relative;
  margin: 0px auto;
  overflow: auto;
}
@media (min-width: 1800px) {
  .container-outside {
        width: 2000px; /* desired width */
  }
}

.sidebar-bigger {
  font-size: 18px;
  font-family: Lato, sans-serif;
  height:6rem;
  vertical-align: middle;
}

.sidebar-red {
  font-size: 18px;
  font-family: Lato, sans-serif;
  height:6rem;
  vertical-align: middle;
  color: red;
}

.tab_container {
  padding-top: 1rem;
}

.dropcont {
  height:60rem;
  overflow-y: auto;

}

.dropsel {
  text-align: center;

}