<!DOCTYPE html>
<html>
<head>
  <title>Privacy Dashboard</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="stylesheets/simple-sidebar.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>



<body>

<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class=" row hidden-xs hidden-sm" style="height:15rem;">   </div>
      <div class=" row hidden-md hidden-lg hidden-xl" style="height:1rem;">   </div>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'facebook_setting' %>"><a href="/facebook_setting" class="sidebar-bigger" >Facebook<i style="font-size:30px;" class="pull-right hidden-xs showopacity fa fa-facebook-square "></i></a></li>
        <li class="<%= 'active' if params[:controller] == 'twitter_setting' %>" ><a href="/twitter_setting" class="sidebar-bigger">Twitter<i style="font-size:30px;" class="pull-right hidden-xs showopacity fa fa-twitter-square"></i></a></li>
        <li class="<%= 'active' if params[:controller] == 'linkedin_setting' %>" ><a href="/linkedin_setting" class="sidebar-bigger">LinkedIn<i style="font-size:30px;" class="pull-right hidden-xs showopacity fa fa-linkedin-square"></i></a></li>
        <li class="<%= 'active' if params[:controller] == 'google_setting' %>" ><a href="/google_setting" class="sidebar-bigger">Google +<i style="font-size:30px;" class="pull-right hidden-xs showopacity fa fa-google-plus-square"></i></a></li>
        <li class="<%= 'active' if params[:controller] == 'pinterest_setting' %>" ><a href="/pinterest_setting" class="sidebar-bigger">Pinterest<i style="font-size:30px;" class="pull-right hidden-xs showopacity fa fa-pinterest-square"></i></a></li>
        <li class="<%= 'active' if params[:controller] == 'about' %>" ><a href="/about" class="sidebar-bigger">About<i style="font-size:30px;" class="pull-right hidden-xs showopacity fa fa-info-circle"></i></a></li>
        <li style="padding-top: 3rem;"><a href="#" class="sidebar-bigger" onclick="window.close()" >Finish Test<i style="font-size:30px; color: red;" class="pull-right hidden-xs showopacity fa fa-ban"></i></a></li>


      </ul>
    </div>


  </div>
</nav>
<div class="main" style="background-color: whitesmoke; height: 100%; overflow-y: auto;  ">

  <%= yield %>


  <!-- Content Here -->
</div>
</body>
</html>

