<!DOCTYPE html>
<html>
<head>
  <title>Privacy Dashboard</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="stylesheets/simple-sidebar.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>



<body>


<div id="wrapper"  style="background-color: whitesmoke; ">

  <!-- Sidebar -->
  <div id="sidebar-wrapper"  style="overflow-x: hidden;">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="<%= user.photo %>" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name l-only">
          <%= user.name %> <%=user.surname%>
        </div>
        <div class="profile-usertitle-job">
          Welcome
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">

      </div>
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'facebook_setting' %>">
            <a href="facebook_setting">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
              Facebook </a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'twitter_setting' %>">
            <a href="twitter_setting">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              Twitter </a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'linkedin_setting' %>">
            <a href="linkedin_setting">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              LinkedIn </a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'google_setting' %>">
            <a href="google_setting">
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
              Google + </a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'pinterest_setting' %>">
            <a href="pinterest_setting">
              <i class="fa fa-pinterest-square" aria-hidden="true"></i>
              Pinterest </a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'about' %>">
            <a href="about">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              About  </a>
          </li>
        </ul>
        <div style="height: 10rem;">

        </div>
        <div style="text-align: center"> <a class="btn btn-danger" href="http://engid87.asuscomm.com:3400" role="button"><i class="fa fa-ban" aria-hidden="true" style="padding-right: 2rem;"></i>Stop Test</a></div>
      </div>
      <!-- END MENU -->
      <div class=" row bottom-buttons">
        <div class="col-md-4">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        </div>
        <div class="col-md-4">
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </a>
        </div>
          <div class="col-md-4">
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
        </div>
      </div>
      <div class="force-to-bottom">
        <h5> Privacy Dashboard Prototype</h5>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" style="background-color: whitesmoke">
    <div class="row">
      <div class="col-sm-11">
        <div class="col-sm-1">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>



        <%= yield %>
      </div>
    </div>>

  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->



</body>
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>



<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</html>

